<ion-item>
  <ion-avatar slot="start">
    <ion-img [src]="placesitem.imageURL"></ion-img>
  </ion-avatar>
  <ion-label>
    <h2>{{placesitem.title}}</h2>
    <p>{{placesitem.description}}</p>
    <div class="date-wrapper">
      <div class="from-to-wrapper">
        <ion-icon name="calendar" color="primary"></ion-icon>
        <ion-text color="medium">{{ placesitem.availabelFrom | date}}</ion-text>
      </div>
      <span>To</span>
      <div class="from-to-wrapper">
        <ion-icon name="calendar" color="primary"></ion-icon>
        <ion-text color="medium">{{ placesitem.availableTo | date}}</ion-text>
      </div>
    </div>
  </ion-label>
</ion-item>
