.date-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  > span {
    margin: 0 5px;
  }
  .from-to-wrapper{
    display: flex;
    align-items: center;
    > ion-icon{
      margin-right: 5px;
      path,svg{
        fill:#666;
      }
    }
  }
}
